body {
  font-family: "Open Sans", sans-serif;
  background-color: #a4a7fd;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
.dash {
  background-color: #fff;
}
.slide1 {
  background-color: #a4a7fd;
  height: 100%;
}
.slide2 {
  background-color: white;
}
.img-mk
{
  width: 27px;
  height: 27px;
}
.img-logo {
  display: block;
  /* margin-top:auto; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: auto; */

  /* display: inline-block; */
  width: 50%;
  margin-top: 200px;
  /* margin-left: 50px; */
}
.form-login {
  padding: 200px 50px 235px 50px;
}
.times-color {
  color: white;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto
{
  padding-right: unset;
}
.btn
{
  padding: unset;
}
.btn-group {
  border-radius: 40px;
  /* border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.btn-status 
{
  top: 215px;
  border-radius: 18px;
  width: 215px;
  height: 29px;
}
.btn-status:hover {
  background-color: #a4a7fd;
  color: white;
}
.btn-collapse
{
  margin-left: 12rem;
  background-color:#A4A7FD;
  border:#fff;
}
.btn-login {
  margin-top: 10px;
  background-color: #a4a7fd;
  color: white;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.btn-login:hover {
  color: #a4a7fd;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-outline-secondary:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.form-controls {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: 0.25rem; */
  padding-left: 2.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  border-bottom: 2px solid #a8a8a8;
  opacity: 0.6;
}
.form-check {
  margin-top: 10px;
  color: #707070;
  opacity: 60%;
}
.forgot {
  font-size: 10pt;
  margin-left: 215px;
  color: gray;
}
.has-icon .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #a8a8a8;
  opacity: 0.6;
}
.full {
  min-height: 100vh;
}
.cirle-img {
  border-radius: 50%;
}
.img-thumbnail {
  border: #fff;
  width: 87px;
  height: 87px;
}
.head-navbar {
  background-color: #a4a7fd;
  height: 38px;
}

.list-group-item {
  padding: 5px;
  border: unset;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.card-header
{
  padding: 0.75rem 0.75rem;
}
.card-header-outter 
{
  font-size: 10px;
  background-color: #a4a7fd;
  color: white;
  height: 25px;
}
.broadcast-scroolbar {
  position: relative;
  overflow: auto;
  padding: 10px;
  height: 268px;
}
.white
{
  color: white;
}
.white:hover{
  color: black;
}
